<html>
  <head>
    <title>Cheddar Butler v3 Golden Potato Edition *Under Development*</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
        <b><p style="color:yellow;">Hello, today it is <u><label id='today'></label></u></p></b>
    <div id="pi" class="alert alert-primary"></div>
       
  </head>
  <body bgcolor="darkblue" style="color:yellow;">
      <py-term></py-term>
 <py-script>
      print("Welcome to Cheddar Butler! This space is meant to run the script's output from a web terminal. Check back for more updated rendered templates that use pyscript, pandas, and broker APIs to create option chain screens.")
      import datetime as dt
      Element('today').write(dt.date.today().strftime('%A %B %d, %Y'))

      def compute_pi(n):
          pi = 2
          for i in range(1,n):
              pi *= 4 * i ** 2 / (4 * i ** 2 - 1)
          return pi

      pi = compute_pi(100000)
      Element('pi').write(f'Test: π is approximately {pi:.3f}')

      x = "Server status: working web terminal under construction"
       
        
        
      </py-script>      
      

          <script>
        function showX(){
            console.log(`In Python right now, x = ${pyscript.runtime.globals.get('x')}`)
      
      </script>   
      
<div id="replOutput" style="height: 75px;" "width: 50px;"></div>
<py-repl output="replOutput">
    print(x)
</py-repl>
        <button onclick="showX()">Click Me To Show Status Of Web Server App, or press Shift+Enter in cell below</button>  
  </body>
</html>